# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env/
venv/
ENV/
backend/.env/

# ML files
*.h5
*.pt
*.pth
# *.pkl (uncommented to allow preprocessor.pkl)
*.joblib

# Node
node_modules/
dist/
build/

# logs
*.log

# OS files
.DS_Store
Thumbs.db

# environment variables
.env.local
.env.development
.env.production